<app-header></app-header>
<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-5">
          <h1 class="mb-3 text-center">Ajouter Produit</h1>
          <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="title" class="form-label">Titre</label>
              <input type="text" id="title" formControlName="title" class="form-control" />
              <div *ngIf="addProductForm.get('title')?.invalid && addProductForm.get('title')?.touched"
                class="text-danger">
                Titre est nécéssaire.
              </div>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea id="description" formControlName="description" class="form-control"></textarea>
              <div *ngIf="addProductForm.get('description')?.invalid && addProductForm.get('description')?.touched"
                class="text-danger">
                Description est nécéssaire, préciser l'état du produit avec le mot "état"
              </div>
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Prix</label>
              <input type="number" id="price" formControlName="price" class="form-control" />
              <div *ngIf="addProductForm.get('price')?.invalid && addProductForm.get('price')?.touched"
                class="text-danger">
                Le prix est nécéssaire est doit être supérieur à 0
              </div>
            </div>
            <div class="mb-3">
              <label for="imageUrl" class="form-label">Image URL</label>
              <input type="text" id="imageUrl" formControlName="imageUrl" class="form-control" />
              <div *ngIf="addProductForm.get('imageUrl')?.invalid && addProductForm.get('imageUrl')?.touched"
                class="text-danger">
                Image URL est nécéssaire.
              </div>
            </div>
            <div *ngIf="errorMessage" class="text-danger mb-3">{{ errorMessage }}</div>
            <button type="submit" class="btn btn-primary btn-lg w-100" [disabled]="addProductForm.invalid"
              appHighlight>Ajouter Produit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>