<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">MyStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add-product" (click)="navigateToAddProduct()">Ajouter Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="my-ads" (click)="navigateToMyAds()">Mes Annonces</a>
        </li>
      </ul>
      <form class="d-flex mx-auto filter-form" (ngSubmit)="applyFilter()" *ngIf="isHomePage()">
        <input class="form-control me-2 scroll-placeholder" type="search" placeholder="Rechercher sur le site"
          aria-label="Search" [(ngModel)]="filterName" name="filterName" />
        <input class="form-control me-2" type="number" placeholder="Prix Max" aria-label="Max Price"
          [(ngModel)]="filterPrice" name="filterPrice" />
        <button class="btn btn-outline-success filter-btn" type="submit">Filtrer</button>
      </form>
      <span class="navbar-text me-3 email" (click)="filterByUserEmail(userEmail)">
        {{ userEmail }}
      </span>
      <button class="btn btn-outline-danger" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</nav>