<app-header></app-header>
<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.imageUrl" class="img-fluid" alt="{{ product.title }}">
    </div>
    <div class="col-md-6">
      <h1>{{ product.title }}</h1>
      <p>{{ product.description }}</p>
      <p><strong>{{ product.price | currency }}</strong></p>
      <p>Posted by: {{ product.userEmail }}</p>
      <button class="btn btn-primary" (click)="goBack()">Back to Products</button>
      <button *ngIf="isCurrentUserProduct()" class="btn btn-danger" (click)="deleteProduct()">Delete Product</button>
    </div>
  </div>
  <div class="row mt-5" *ngIf="otherProducts.length > 0">
    <div class="col-12">
      <h2>Autres annonces de {{ product.userEmail }}</h2>
    </div>
    <div class="col-md-4 d-flex align-items-stretch product" *ngFor="let otherProduct of otherProducts">
      <div class="card mb-4" (click)="viewProduct(otherProduct.id)">
        <img [src]="otherProduct.imageUrl" class="card-img-top" alt="{{ otherProduct.title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ otherProduct.title }}</h5>
          <p class="card-text">{{ otherProduct.description | truncate:100 }}</p>
          <p class="card-price">{{ otherProduct.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>