<app-header (filterChanged)="applyFilter($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex align-items-stretch product" *ngFor="let product of filteredProducts">
      <div class="card mb-4">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.title }}"
          (click)="viewProduct(product.id)" />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description | truncate:100 }}</p>
          <p class="card-price">{{ product.price | currency }}</p>
          <p class="card-user-email">Posted by: {{ product.userEmail }}</p>
        </div>
      </div>
    </div>
  </div>
</div>